.draft-list
  - drafts.each do |draft|
    %a.draft(href="/#{draft.token}/#{draft.title.try(:parameterize)}")
      .created= draft.title || draft.created_at.strftime("%A, %B %d, %Y")
      .owner= draft.user.try(:name)
      .updated= (draft.latest_version.try(:created_at) || draft.updated_at).strftime("%l:%M %p on %A")
      .published= draft.published_at.try(:strftime, "%l:%M %p on %A")
      .edits= draft.versions.final.count
