- content_for(:stylesheets) do
  = stylesheet_link_tag("editor")
  = stylesheet_link_tag("/pygments")

- content_for(:javascripts) do
  = javascript_include_tag("editor")

.page.editor
  %textarea= @version.content unless @version.nil?
.page.preview
  - unless @draft.nil?
    %iframe(src="/preview/#{@draft.token}")
.page.drafts
  = drafts
