- content_for(:stylesheets) do
  = stylesheet_link_tag("editor")
  = stylesheet_link_tag("/pygments")

- if current_user_owns_draft?
  .page.editor
    %textarea
      = @version.content if @version
  .page.preview
    = markdown(@version.content) if @version

  - if logged_in?
    .page.drafts
      = drafts

- else
  .page.preview
    = markdown(@version.content) if @version
