- content_for(:editor_tabs) do
  = empty_link(type.capitalize, tab_attributes)

.editor(id="draft-#{type}" data-mode="#{mode}" style="#{style}")
  .settings
    = label_tag("Format")
    = select_tag(name, :options => options, :selected => mode, :class => "format")

  %textarea=h content
