- content_for(:stylesheets) do
  = stylesheet_link_tag("editor")
  = stylesheet_link_tag("/pygments")

- content_for(:javascripts) do
  = javascript_include_tag("codemirror/codemirror-3.1")
  = javascript_include_tag("codemirror/overlay")
  = javascript_include_tag("codemirror/mode/xml")
  = javascript_include_tag("codemirror/mode/markdown")
  = javascript_include_tag("codemirror/mode/gfm")
  = javascript_include_tag("codemirror/mode/haml")
  = javascript_include_tag("codemirror/mode/htmlmixed")
  = javascript_include_tag("codemirror/mode/javascript")
  = javascript_include_tag("codemirror/mode/css")
  = javascript_include_tag("codemirror/mode/sass")
  = javascript_include_tag("editor")

.page.edit.show-content
  .settings
    = label_tag("Format")
    = select_tag(:format, :options => Draft::FORMATS, :selected => @version.try(:format) || "markdown", :class => "format")

  .editor#draft-content(data-mode="#{@version.try(:format) || 'markdown'}")
    %textarea= @version.content unless @version.nil?
  .editor#draft-stylesheet(data-mode="sass" style="display: none;")
    %textarea

  .switchers
    = empty_link("Content", :class => "switch selected", :"data-reveal" => "draft-content", :"data-hide" => "draft-stylesheet")
    = empty_link("Stylesheet", :class => "switch", :"data-reveal" => "draft-stylesheet", :"data-hide" => "draft-content")

.page.preview
  = preview_frame

.page.drafts
  = drafts
