- content_for(:stylesheets) do
  = stylesheet_link_tag("tabs")

- content_for(:javascripts) do
  = javascript_include_tag("tabs")

.tabs
  - if current_user_owns_draft?
    = empty_link("Edit", :class => "edit-tab")
    = empty_link("Preview", :class => "preview-tab")
    = empty_link("Side by side", :class => "side-by-side-tab")
  - else
    = empty_link("View", :class => "preview-tab selected")
