- content_for(:stylesheets) do
  = stylesheet_link_tag("toolbar")

- content_for(:javascripts) do
  = javascript_include_tag("toolbar")

.toolbar
  = session_panel

  - if current_user_owns_draft?
    .actions
      = empty_link("Save", :class => "save-draft")
      = empty_link("Clear", :class => "clear-draft")
      - if @draft.try(:public?)
        = empty_link("Unpublish", :class => "unpublish-draft")
      - else
        = empty_link("Publish", :class => "publish-draft")
      = empty_link("Delete", :class => "delete-draft") unless @draft.nil? || !@draft.started?
