!!!5
%head
  %title= ["LiveDraft", @draft.title].compact.join(" - ")
  = stylesheet_link_tag "preview"
  = stylesheet_link_tag "/pygments"
  = stylesheet_link_tag "/latest/css/#{@draft.token}" if @preview.has_style?
  = javascript_include_tag "jquery-1.9.1.js"
  = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
  = javascript_include_tag "application"
  = javascript_include_tag "preview"
  = javascript_include_tag "/latest/js/#{@draft.token}" if @preview.has_script?

  :javascript
    LiveDraft = {
      DraftId: "#{@draft.token}",
      PusherKey: "#{ENV['PUSHER_KEY']}"
    };

%body
  = @preview.to_html
