!!!5
%head
  %title LiveDraft
  = stylesheet_link_tag "/stylesheets/codemirror"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700"
  = stylesheet_link_tag "application"
  = yield_content(:stylesheets)
  = javascript_include_tag "/javascripts/jquery-1.9.1"
  = javascript_include_tag "/javascripts/codemirror/codemirror-3.1"
  = javascript_include_tag "/javascripts/codemirror/overlay"
  = javascript_include_tag "/javascripts/codemirror/mode/xml"
  = javascript_include_tag "/javascripts/codemirror/mode/markdown"
  = javascript_include_tag "/javascripts/codemirror/mode/gfm"
  = javascript_include_tag "/javascripts/codemirror/mode/javascript"
  = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
  = javascript_include_tag "/javascripts/application"
  = yield_content(:javascripts)

  :javascript
    LiveDraft.DraftId = "#{@draft.try(:token)}";
    LiveDraft.PusherKey = "d99cf129f58471278424";

%body
  = yield

  - if flash[:notice]
    #notice= flash[:notice]
